@use "utilities/colors" as *;
@use "utilities/mixins" as *;
@use "utilities/fonts" as *;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient($background-gradient-lighter, $background-gradient-darker);
    color: white;
    input{
        color: black;
    }
}

section{
    height: 100vh;
    @include flex-center;
    flex-direction: column;
}

.search-bar{
    @include flex-center;
    border-radius: 10px;
    background-color: $white;
    width: 50%;
    height: 1.5em;
    font-family: $font-main;
    font-size: 2rem;
    .search-bar-region{
        @include button-nooutline;
    }
}
