@use "utilities/colors" as *;
@use "utilities/mixins" as *;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: black;
    color: white;
}

section{
    height: 100vh;
    @include flex-center;
}
