* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

body {
  background: #211759;
  color: #ededed;
}

input[type=text]:-webkit-autofill:focus {
  background-color: red !important;
}

section {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr 1fr 1fr 2fr 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.5rem;
  border-radius: 10px;
  background-color: #ededed;
  width: 50%;
  min-width: 300px;
  height: 1.5em;
  font-size: 2rem;
  grid-area: 1/1/2/6;
  place-self: center;
}
.search-bar * {
  font-family: "Quicksand", sans-serif;
}
.search-bar .search-bar-region {
  border: none;
  outline: none;
  background-color: #ededed;
  border-right: 1px solid grey;
  height: 100%;
  cursor: pointer;
}
.search-bar .search-bar-summonername {
  border: none;
  outline: none;
  background-color: #ededed;
  width: 100%;
  -webkit-padding-start: 0.5rem;
          padding-inline-start: 0.5rem;
}
.search-bar input:-webkit-autofill,
.search-bar input:-webkit-autofill:hover,
.search-bar input:-webkit-autofill:focus,
.search-bar input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #ededed inset !important;
  -webkit-box-shadow: 0 0 0 30px #ededed inset !important;
}
.search-bar .search-bar-button {
  border: none;
  outline: none;
  cursor: pointer;
  height: 100%;
}

#basic-info {
  grid-area: 2/1/4/3;
  place-self: center;
}
#basic-info img {
  width: 50px;
}

.matches-played {
  grid-area: 2/3/4/6;
  place-self: center;
}
.matches-played img {
  width: 50px;
}

.list-of-matches {
  grid-area: 4/1/6/6;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
}
.list-of-matches li {
  list-style-type: none;
}
.list-of-matches .match {
  place-self: center;
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr;
  grid-template-rows: 0.25fr 1fr;
  width: 50vw;
  border-radius: 1rem;
}
.list-of-matches .match p {
  grid-area: 1/1/2/4;
  text-align: center;
}
.list-of-matches .match .teamOne,
.list-of-matches .match .teamTwo {
  display: flex;
  flex-direction: column;
}
.list-of-matches .match .teamOne span,
.list-of-matches .match .teamTwo span {
  text-align: end;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.list-of-matches .match .teamOne span p,
.list-of-matches .match .teamTwo span p {
  text-align: end;
  overflow: hidden;
  word-wrap: none;
}
.list-of-matches .match .teamOne img,
.list-of-matches .match .teamTwo img {
  width: 20px;
}
.list-of-matches .match .playerInfo {
  grid-area: 2/1/2/2;
}
.list-of-matches .match img {
  width: 50px;
}

.teamOne {
  grid-area: 2/2/2/3;
}

.teamTwo {
  grid-area: 2/3/2/4;
}

.win {
  background: linear-gradient(90deg, #1a109a, #211c6d);
}
.win:hover {
  background: linear-gradient(90deg, #180f8c, #1d1961);
}

.lose {
  background: linear-gradient(90deg, #840f0f, #211c6d);
}
.lose:hover {
  background: linear-gradient(90deg, #760d0d, #1d1961);
}/*# sourceMappingURL=style.css.map */