.list-of-matches {
  grid-area: 4/1/6/6;
  display: grid;
  grid-row-gap: 1rem;
}
.list-of-matches li {
  list-style-type: none;
}
.list-of-matches .match {
  padding: 0.5rem;
  place-self: center;
  display: grid;
  grid-template-columns: 1.25fr 0.5fr 0.8fr 1fr 1fr;
  grid-template-rows: 0.25fr 1fr;
  width: 50vw;
  border-radius: 1rem;
}
.list-of-matches .match .game-mode {
  grid-column: 1/5;
  text-align: center;
  justify-self: center;
  width: 100%;
}
.list-of-matches .match .teamOne,
.list-of-matches .match .teamTwo {
  display: flex;
  flex-direction: column;
}
.list-of-matches .match .teamOne span,
.list-of-matches .match .teamTwo span {
  text-align: end;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.list-of-matches .match .teamOne img,
.list-of-matches .match .teamTwo img {
  width: 20px;
}
.list-of-matches .match .player-stats {
  grid-area: 2/2/3/3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
  text-align: center;
}
.list-of-matches .match .player-info {
  grid-area: 2/1/3/2;
  align-self: center;
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-rows: repeat(3, 0.5fr);
}
.list-of-matches .match .player-info span {
  grid-area: 3/1/4/5;
  justify-self: center;
}
.list-of-matches .match .player-info .player-img {
  grid-area: 1/1/3/2;
  justify-self: end;
}
.list-of-matches .match .player-info .summoner-spell1 {
  max-width: 25px;
  grid-area: 2/2/3/3;
}
.list-of-matches .match .player-info .summoner-spell2 {
  max-width: 25px;
}
.list-of-matches .match .player-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.list-of-matches .match .player-items img {
  width: 25px;
}
.list-of-matches .match .player-items img:nth-child(-n+3) {
  align-self: end;
}
.list-of-matches .match img {
  width: 50px;
}

.teamOne {
  grid-area: 2/4/3/5;
}

.teamTwo {
  grid-area: 2/5/3/6;
}

.win {
  background: linear-gradient(90deg, #1a109a, #211c6d);
}
.win:hover {
  background: linear-gradient(90deg, #180f8c, #1d1961);
}

.lose {
  background: linear-gradient(90deg, #840f0f, #211c6d);
}
.lose:hover {
  background: linear-gradient(90deg, #760d0d, #1d1961);
}

.match-summonername {
  text-align: end;
  position: relative;
  white-space: nowrap;
}

.match-summonername:hover .match-summonername-info {
  display: block;
}

.match-summonername-info {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  background: #2e2e2e;
  outline: 1px solid #ededed;
  border-radius: 1rem;
  text-align: center;
  white-space: nowrap;
  padding-inline: 1rem;
  padding-block: 0.25rem;
  z-index: 999;
  opacity: 0;
  -webkit-animation: opacity 300ms forwards ease-out;
          animation: opacity 300ms forwards ease-out;
}

@-webkit-keyframes opacity {
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  to {
    opacity: 1;
  }
}
.match-info {
  grid-area: 1/5/2/6;
  justify-self: center;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.5rem;
  border-radius: 10px;
  background-color: #ededed;
  width: 50%;
  min-width: 300px;
  height: 1.5em;
  font-size: 2rem;
  grid-area: 1/1/2/6;
  place-self: center;
}
.search-bar * {
  font-family: "Quicksand", sans-serif;
}
.search-bar .search-bar-region {
  background-color: #ededed;
  border-right: 1px solid grey;
  height: 100%;
  cursor: pointer;
}
.search-bar .search-bar-summonername {
  background-color: #ededed;
  width: 100%;
  -webkit-padding-start: 0.5rem;
          padding-inline-start: 0.5rem;
}
.search-bar input:-webkit-autofill,
.search-bar input:-webkit-autofill:hover,
.search-bar input:-webkit-autofill:focus,
.search-bar input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #ededed inset !important;
  -webkit-box-shadow: 0 0 0 30px #ededed inset !important;
}
.search-bar .search-bar-button {
  cursor: pointer;
  height: 100%;
}

.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr 1fr 1fr 2fr 2fr;
}

.matches-played {
  grid-area: 2/3/4/6;
  place-self: center;
}
.matches-played img {
  width: 50px;
}

.basic-info {
  grid-area: 2/1/4/3;
  place-self: center;
}
.basic-info img {
  width: 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

body {
  background: #211759;
  color: #ededed;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

html:focus-within {
  scroll-behavior: smooth;
}

button,
input,
select {
  border: none;
  outline: none;
}/*# sourceMappingURL=style.css.map */