@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin media($breakpoint) {
	@media (max-width: $breakpoint) {
		@content;
	}
}

// @mixin button-nooutline{
//     border: none;
//     outline: none;
// }
